.container {
  background-color: #f1f5f8;
}
.title {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  font-family: 'Parisienne';
  font-size: 40px;
}

.right-up {
  display: flex;
  justify-content: space-between;
}

.menu-item {
  display: flex;
  width: 40%;
  margin: 20px;
}

.item-title,
.item-price {
  color: red;
  display: flex;
}

.image {
  height: 200px;
  width: 200px;
  border: 2px solid black;
  border-radius: 10%;
  margin: 0 20px 20px 0;
}
.right-side {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}
.menu-items {
  display: flex;
  flex-wrap: wrap;
  padding: 50px;
}
.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.btn {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 30px 8px 0 8px;
  color: black;
  justify-content: center;
  font-size: 18px;
  font-family: 'Architects Daughter', cursive;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
